.container {
    padding: 10px 20px;
    margin-left: 0;
    transition: margin 600ms;
}

.mr200 {
    margin-left: 200px;
}

@media screen and (max-width: 600px) {
    .mr200 {
        margin-left: 0px;
    }
}
