.sideBar {
    width: 200px;
    background-color: rgba(46, 125, 50, 0.7);
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sideBarOpen {
    animation-name: sideBarOpenAnimation;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.sideBarClose {
    animation-name: sideBarCloseAnimation;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes sideBarOpenAnimation {
    from {
      transform: translate(-200px);
    }
    to {
      transform: translate(0px);
    }
}

@keyframes sideBarCloseAnimation {
    from {
      transform: translate(0px);
    }
    to {
      transform: translate(-200px);
    }
}

@media screen and (max-width: 600px) {
    .sideBar {
        top: 56px;
    }
}

.sideNavLink {
  color: white;
  font-size: 18px;
  display: inline-block;
  display: flex;
  align-items: center;
}

.sideNavLink:hover {
  opacity: 0.7;
}

.sideNavLink:active {
  transform: scale(1.1);
  transition-duration: 0.2s;
}
